.image{
    width: 90%;
    height: 90%;
    border-radius: 6px;
}
.movies-container{
    display: grid;
    grid-template-columns: 30% 30% 30%;
    width: 100%;
    background-color: white;
    padding: 4%;
    grid-gap: 5%;
}
.movie{
    color: black;
    width: 100%;
    text-align: center;
}